.dubai360-header__logo-languaje {
    float: left;
    padding-top: 5px;
}

.dubai360-header__logo-languaje div {
    width: 100%;
    height: 100%;
}

.dubai360-header__logo-languaje div img {
    height: 27px;
    width: 55px;
}

.explore__listContainer .slick-active .listItem__icon-category {
    border-bottom: unset;
}