body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dubai360-header__logo-languaje {
    float: left;
    padding-top: 5px;
}

.dubai360-header__logo-languaje div {
    width: 100%;
    height: 100%;
}

.dubai360-header__logo-languaje div img {
    height: 27px;
    width: 55px;
}

.explore__listContainer .slick-active .listItem__icon-category {
    border-bottom: unset;
}

#playaudio {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 10px;
    top: 69px;
    display: block;
    z-index: 2000;
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
}

#playaudio img {
    width: 60%;
    height: 60%;
}

.modal {
    position: absolute;
    padding: 30px;
    background: #fff;
    width: 60%;
    height: 70%;
    z-index: 2000;
    top: 14%;
    left: 18%;
}
.modal .close {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.information-modal {
    border-radius: 4px;
    overflow: scroll;
}

.information-modal img {
    max-width: 100%;
}

.information-modal .content {
    padding-top: 20px;
    max-height: 260px;
    text-align: justify;
    /*overflow: scroll;*/
}

/* mobile */
@media (max-width: 768px) {
    .listItem-wrapper.is-active .listItem {
        border-bottom: 2px solid #c23691;
    }
    .time_data {
        flex-direction: column;
        align-items: unset;
    }
    .time_data > div {
        padding: 10px 0 10px 0;
    }
    #website_box {
        padding-left: 0;
    }
}

@media (max-width: 1024px) {
    .information-modal {
        width: 87%;
        top: 0;
        left: 0;
        height: 84%;
    }
}

.information-modal .close {
    width: 32px;
    height: 32px;
}

.icon-ic_explore.wrapper-button__icon {
    font-size: 3.3em;
}

.js-icon.icon-wrapper__icon a, .icon-wrapper--selected a {
    text-decoration: none;
    color: #2a2a2f;
}

.sitemap-block.section-help {
    flex-direction: column;
}